<!DOCTYPE html>

<!-- Ниже строчка, которая указывает, что мы используем таймлиф -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Пользователь</title>
</head>
<body>
<!-- Сюда мы переходим по ссылке из view "all" по id. Вместо VALUE будет то значение,
которое получится при вызове геттеров-->
<p th:text="${user.getId()}">VALUE</p>
<p th:text="${user.getName()}">VALUE</p>
<p th:text="${user.getSurname()}">VALUE</p>
<p th:text="${user.getAge()}">VALUE</p>

<!-- Добавим ссылку для перехода на страницу редактирования-->

<form th:action="@{/logout}" method="post">
    <input type="submit" value="Logout">
</form>

</body>
</html>